<!DOCTYPE html>
<html>
<head>
  <title>Legal Site</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "gallery", media: "all", "data-turbo-track": "reload" %> <!-- This line includes gallery.css -->
  <%=  javascript_include_tag'slider' %>
  
</head>

<body>

  <%= yield %>
</body>
</html>


